# Core
pyspark==3.5.3
kafka-python==2.0.2

# Data handling
pandas==2.2.3
numpy==1.26.4
pyarrow==17.0.0

# Plotting
matplotlib==3.9.2
seaborn==0.13.2

# Notebook / Exploration
jupyter==1.1.1
ipykernel==6.29.5

# Testing
pytest==8.3.3

# Utilities
python-dotenv==1.0.1
tqdm==4.66.5
requests==2.32.3
